
#loremipsum {
    color: red;
}

* {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: italic;
  font-variation-settings:
    "wdth" 100;
}

.cases_text {
    color: #2590c8;
}

.deaths_text {
    color: #d13141;
}

h2 {
    font-family: 'Open Sans';
}

p {
    font-family: 'Open Sans';
}
